  <hr align='center' style='border:solid 1px #ddd; width:90%;'>
  <h2>LET'S GET IN TOUCH WITH!</h2>

  <ol>
  <li>
    <img src="https://www.google.com/s2/favicons?domain=plus.google.com">　<a class="clickable" href="https://plus.google.com/u/0/{account_num}" target="_blank">{Your-account-ID}|Google+</a><br>
  </li>

  <li>
    <img src="https://www.google.com/s2/favicons?domain=www.youtube.com">　<a class="clickable" href="https://www.youtube.com/user/{your-account-ID}/" target="_blank">{Your-account-ID}|YouTube</a><br>
  </li>

  <li>
    <img src="https://www.google.com/s2/favicons?domain=stackoverflow.com">　<a class="clickable" href="https://stackoverflow.com/users/{123456}/{your-account-ID}" target="_blank">User {Your-account-ID}-Stack Overflow</a><br>
  </li>

  <li>
    <img src="https://www.google.com/s2/favicons?domain=twitter.com">　<a class="clickable" href="https://twitter.com/{Your-accounnt}" target="_blank">{Your-account-ID}|Twitter</a><br>
  </li>

  <li>
    <img src="https://www.google.com/s2/favicons?domain=www.pinterest.co.kr">　<a class="clickable" href="https://www.pinterest.co.kr/{your-account}/" target="_blank">{Your-account-ID}|Pinterest</a><br>
  </li>

  <li>
    <img src="https://www.google.com/s2/favicons?domain=www.linkedin.com">　<a class="clickable" href="https://www.linkedin.com/in/{your-account-ID}/" target="_blank">{Your-account-ID}|LinkedIn</a><br>
  </li>

  <li>
    <img src="https://www.google.com/s2/favicons?domain=www.instagram.com">　<a class="clickable" href="https://www.instagram.com/{Your-account-ID}/" target="_blank">{ID}(@{Your-account-ID})</a><br>
  </li>

  <li>
    <img src="https://www.google.com/s2/favicons?domain=github.com">　<a class="clickable" href="https://github.com/{Your-account-ID}/{Your-account-ID}.github.io" target="_blank">{Your-account-ID}.github.io</a><br>
  </li>

  <li>
    <img src="https://www.google.com/s2/favicons?domain=www.flickr.com">　<a class="clickable" href="https://www.flickr.com/people/154884958@N02/" target="_blank">{Your-account-ID}|Flickr</a><br>
  </li>

  <li>
    <img src="https://www.google.com/s2/favicons?domain=www.facebook.com">　<a class="clickable" href="https://www.facebook.com/{Your-account-ID}" target="_blank">{Your-accound-ID}|Facebook</a><br>
  </li>

  <li>
    <img src="https://www.google.com/s2/favicons?domain=www.raspberrypi.org/">　<a class="clickable" href="http://{your-Web-page-URL}/" target="_blank">{Your-account-ID}'s Web-site</a>
  </li>

  <li>
    <img src="https://www.google.com/s2/favicons?domain=www.slack.com">　<a class="clickable" href="https://{Your-workspace-name}.slack.com/" target="_blank">Slack|{Your-workspace-name}</a>
  </li>
</ol>
