<!DOCTYPE html>
<html>
<head>
    <title>BUCKET_LIST</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="theme-color" content="#212121" />

    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">
    <link rel="shortcut icon" href="../../static/[favicon]/favicon.ico">

    <script src="../../static/js/jquery-1.9.0.js"></script>
    <script src="../../static/js/main.js"></script>
    <script src="../../static/js/masonry.pkgd.min.js"></script>
    <script src="../../static/js/clipboard.min.js"></script>
    <script src="../../static/js/prefixfree.min.js"></script>
</head>

<body>
    <header>
        <h1>
            <i id="nav_on" onclick="if($('nav').attr('class')!='on'){$('nav, #nav_bg').addClass('on');}else{$('nav, #nav_bg').removeClass('on');}" class="material-icons">menu</i>
            ... MY BUCKET LIST ...
        </h1>
    </header>
    <div id="sub_header">
        <div class="" id="line1">

            <div class="filter_bt on" id="filter_11">
                <i class="material-icons">indeterminate_check_box</i><span>전체</span>
                <span class="ink_bar"></span>
            </div>
            <div class="filter_bt" id="filter_10">
                <i class="material-icons">check_box</i><span>달성</span>
                <span class="ink_bar"></span>
            </div>
            <div class="filter_bt" id="filter_01">
                <i class="material-icons">check_box_outline_blank</i><span>미달성</span>
                <span class="ink_bar"></span>
            </div>
            <div class="filter_bt" id="filter_00">
                <i class="material-icons">priority_high</i><span>실패</span>
                <span class="ink_bar"></span>
            </div>

            <div class="" id="column_bt">
                <i class="material-icons">view_column</i>
                <!-- <span class="ink_bar"></span> -->
            </div>
        </div>
    </div>

    <nav>
        <div id='nav'>

            <div id='nav_header'>
                <div id="to_github" class="" onclick="window.open('https://github.com/onitonitonito')">
                    <i class="material-icons"><svg style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path d="M4,2H20A2,2 0 0,1 22,4V20A2,2 0 0,1 20,22H14.85C14.5,21.92 14.5,21.24 14.5,21V18.26C14.5,17.33 14.17,16.72 13.81,16.41C16.04,16.16 18.38,15.32 18.38,11.5C18.38,10.39 18,9.5 17.35,8.79C17.45,8.54 17.8,7.5 17.25,6.15C17.25,6.15 16.41,5.88 14.5,7.17C13.71,6.95 12.85,6.84 12,6.84C11.15,6.84 10.29,6.95 9.5,7.17C7.59,5.88 6.75,6.15 6.75,6.15C6.2,7.5 6.55,8.54 6.65,8.79C6,9.5 5.62,10.39 5.62,11.5C5.62,15.31 7.95,16.17 10.17,16.42C9.89,16.67 9.63,17.11 9.54,17.76C8.97,18 7.5,18.45 6.63,16.93C6.63,16.93 6.1,15.97 5.1,15.9C5.1,15.9 4.12,15.88 5,16.5C5,16.5 5.68,16.81 6.14,17.97C6.14,17.97 6.73,19.91 9.5,19.31V21C9.5,21.24 9.5,21.92 9.14,22H4A2,2 0 0,1 2,20V4A2,2 0 0,1 4,2Z"></path>
                    </svg></i><span>ox3nito w.♥ git </span>
                </div>
                <div id="setting_bt">
                    <i class="material-icons">settings</i>
                    <i class="material-icons setting_arrow">play_arrow</i>
                </div>
            </div>
        </div>
        <div id='nav_footer'><i class='material-icons'>chevron_left</i></div>
    </nav>
    <div id="nav_bg" onclick="$('nav, #nav_bg').removeClass('on');"></div>
    <div id="setting_bg" onclick="$('#setting, #setting_bg').removeClass('on');"></div>
    <dl id="setting">
        <div class="header">
            <i class="material-icons" onclick="$('#setting, #setting_bg').removeClass('on');">arrow_back</i><span>설정</span>
        </div>
        <div class="setting_title">일반</div>
        <div class="setting_item" id="strict_filtering">
            <input type="checkbox" checked> <dt>엄격한 필터링</dt>
            <dd class="on">묶인 항목과 관계 없이 선택된 항목만을 보여줍니다.</dd>
            <dd class="off">항목이 포함된 카드를 보여줍니다.</dd>
        </div>
        <div class="setting_item" id="theme_color">
            <input type="checkbox" checked> <dt>테마 색</dt>
            <dd class="on">현재 색이 테마 색으로 지정되었습니다.</dd>
            <dd class="off">테마 색이 무작위로 변합니다.</dd>
        </div>
        <div class="setting_title">퍼가기</div>
        <div class="setting_item" id="cccv">
            <input type="checkbox" checked> <dt>퍼가기</dt>
            <dd class="on">안내: 마우스 오른쪽 버튼을 눌러 조의를 표하십시오.</dd>
            <dd class="off">더이상 귀찮게 굴지 않습니다.</dd>
        </div>
        <div class="setting_item" id="cccv__style">
            <input type="checkbox" checked> <dt>스타일 포함</dt>
            <dd class="on">이게 빠지면 뒤틀린 황천비둘기처럼 보입니다.</dd>
            <dd class="off">그런데 여러번 붙여넣을 필요는 없죠.</dd>
        </div>
        <div class="setting_item" id="cccv__to_here">
            <input type="checkbox" checked> <dt>출처 표시</dt>
            <dd class="on">카드 위에 제목이 표시됩니다.</dd>
            <dd class="off">카드를 구성하는 코드만 복사합니다.</dd>
        </div>
    </dl>

<h2 id="Intro">Intro</h2>
<section class="sub" style="text-align:center;" id="first_class">
<div class="card">
            <!-- 버킷리스트 만들기. -->
            <div class="front" id="그거_먹는건가요">
                <dl>
                    <input type="checkbox" checked="">
                    <dt>Making a 'BUCKET LIST'? what is it?</dt>
                    <p> &nbsp &nbsp Listing My Wises on The Web <span class="date">2017. 6/6</span> </p>
<dd>
Suddely.. it poped on my head when I was watching..<br>
'Sponge Bob the Squre Pants', there's a bucket list!<br>
Sponge Bob was finishing his lists 1 by 1 with his BF. Squidward,<br>
when he (actually, Squidward) believs his life is very running to the end.<br>
<br>
Then, I'm.. uh..., Hmm..uh.. o..O..k.., ( *thinking* ) <br>
It wouldn't be that bad idea, if I have my wish list...<br>
So that I can check what I've been done & what going to do..<br>
<br>
O.K.. I decided I'm going to make a BUCKET LIST!<br>
<br>
<img src="../../static/img/bucketlist_spongebob.gif"  style="width: 250px; position:relative; left:calc(50%-250px);">
<br> [ I've just finished a <b><u>draft</u></b>, not finished yet! ]
<br>
<br> It costs a lot of my soul crushed, so I just stop here,
<br> take my time and will make it go!
</dd>
                </dl>
            </div>
            <!--- CHILD --><div class="back">
                                <h4>But, The Truth is...</h4>
                                <p></p>
                                <p>I'm a COPYCAT!!.. I'm coping you.</p>
                                <p> </p>
                                <p><img src="../../static/img/chickencopy.jpg" style="width: 350px; position:relative; left:calc(50%-50px);"></p>
                                <p><a href="http://www.savagechickens.com/">
                                    http://www.savagechickens.com/</a></p>
                            </div>
</div>
</section>




<!--      ██████    ██      ██████████    ██  -->
<!--                ██      ██      ██    ██  -->
<!--  ████████████  ██      ██      ██    ██  -->
<!--      ██  ██    ██      ██      ██    ██  -->
<!--  ████      ██  ██      ██      ██    ██  -->
<!--                ██      ██      ██    ██  -->
<!--  ████████████  ██      ██      ██    ██  -->
<!--      ██        ██      ██      ██    ██  -->
<!--      ██        ██      ██████████    ██  -->
<!--    ██          ██                    ██  -->

<h2 id="취미">취미</h2>
<section class="sup">
        <!--    ████    ██  ██              ██          -->
        <!--  ██    ██  ██  ██          ████  ████      -->
        <!--  ██    ██████  ██      ████          ████  -->
        <!--  ██    ██  ██  ██                          -->
        <!--  ██    ██  ██  ██      ██████████████████  -->
        <!--  ██    ██  ██  ██              ██          -->
        <!--  ██    ██████  ██        ████████████      -->
        <!--  ██    ██  ██  ██                ██████    -->
        <!--    ████    ██  ██        ██████            -->
        <!--            ██  ██          ████████████    -->

        <h3 id="예술"><i class="material-icons">color_lens</i><span>예술</span></h3>
        <section class="sub">

          <div class="card">
            <!-- 혼은 빈센트.. 우주가 도와준다! -->
            <dl class="front" id="">
              <input type="checkbox"> <dt>나의 혼은 빈센트.. 우주가 도와준다!</dt>
              <dd>그림을 그려보자.. 별이 빛나는 밤에..<span class="date"></span>
                <ul>
                  <li><input type="checkbox" checked> <dt>크로키</dt> <span class="date">2015.02</span></li>
                  <li><input type="checkbox" > <dt>수채화</dt> <span class="date"></span></li>
                  <li><input type="checkbox" checked> <dt>인체대생</dt> <span class="date">2016.08</span></li>
                  <li><input type="checkbox" > <dt>유화</dt> <span class="date"></span></li>
                </ul>
              </dd>
            </dl>
            <!-- CHILD --><div class="back">
                            <p>
                              <img src="../../static/img/tuzki/01_frustrating.gif" style="width: 80px; position:relative; left:calc(50%-50px);">
                              예술의 길은 멀고도 험한 것인 것을.....
                              <img src="../../static/img/tuzki/01_step_all_over.gif" style="width: 80px; position:relative; left:calc(50%-50px);">
                            </p>
                          </div>
          </div>

            <dl title="브레멘 음악대">
                <input type="checkbox"> <dt><b>I've got the moves like Jagger..</b></dt>
                <dd>다음 악기로 최소한 한 가지 곡 이상, 완주해 내기...<br>
                   사실 악기에 별로 관심이 없는 건 안 자랑.. 저주받은 망치손을 타고났다.
                    <ul>
                        <li><input type="checkbox"> <dt>오카리나</dt><span class="date"></span></li>
                        <li><input type="checkbox" checked> <dt>클래식 기타</dt><span class="date">2002</span></li>
                        <li><input type="checkbox"> <dt>베이스 기타</dt><span class="date"></span></li>
                        <li><input type="checkbox"> <dt>드럼</dt><span class="date"></span></li>
                    </ul>
                    <span class="date"></span>
                </dd>
            </dl>

        </section>

        <!--  ████████      ██        ██████████████        ████████    ██  -->
        <!--          ██    ██                            ██            ██  -->
        <!--  ████████████████          ██      ██        ██            ██  -->
        <!--          ██    ██          ██      ██        ██            ██  -->
        <!--        ██      ██        ██████████████      ████████  ██████  -->
        <!--  ██████        ██                            ██            ██  -->
        <!--                        ██████████████████    ██            ██  -->
        <!--    ██████████████          ██      ██        ██            ██  -->
        <!--    ██          ██          ██      ██          ████████    ██  -->
        <!--    ██████████████          ██      ██                      ██  -->

        <h3 id="컴퓨터"><i class="material-icons">computer</i><span>컴퓨터.IT</span></h3>
        <section class="sub">

            <dl>
                <input type="checkbox"> <dt>영혼의 버킷리스트!!, 과연 배포 할 수 있을까?...
                <p>... 너는 이미 코딩을 하고 있다...</p></dt>
                <dd>영혼을 갈아넣은 버킷리스트 작성 성공적으로 완료하기!!!.
                    <span class="date">..proceeding..</span> </dd>
                <dd>Don't cry.. 이루지 못 할 버킷리스트..</dd>
                <dd><a href="https://goo.gl/VFHRcK">너의 영혼</a></dd>

            </dl>

            <div class="card">
                <dl class="front">
                    <input type="checkbox"> <dt>4!차 산업혁명!!!... '유↘-빜↗코와~러스↘'의 시대!!</dt>
                    <dd>북! 나는 싶다 저 작고 가볍고 아름다운 티타늄 갖고.. 맥<span class="date">..응!넌틀렸음..</span>
                </dl>
                <!-----CHILD---><div class="back">
                                        <p>
                                          ssssss...........
                                          <img src="../../static/img/tuzki/01_banging_wall.gif" style="width: 70px; position:relative; left:calc(50%-50px);">
                                        </p>
                                </div>
            </div>


<div class="card">
      <dl class="front">
              <input type="checkbox" checked><dt>인생의 굴레, BASIC 입문하기</dt>
              <dd>*Prerude* 평생 밑천, 아니 평생 '밑 빠진 독에 물붇기' 시작..<span class="date">..중1시절..</span></dd>
              <dd>평생 코딩의 그늘에서 살아야 한다.<span class="date"></span></dd>

              <input type="checkbox" checked><dt>괜히 중2병? ASSEMBLY 입문</dt>
              <dd>게임코딩을 바꾸기 위해서, 어셈블리 언어입문..<span class="date">..중딩시절..</span></dd>
              <dd>읽어도 읽어도 모르겠던 기계어,.. 메모리의 개념이 생김</dd>

              <input type="checkbox" checked><dt>성공적인 FORTRAN 수료</dt>
              <dd>그 덕분에 전산학, FORTRAN 수업 수석..<span class="date">..대학시절..</span></dd>

              <input type="checkbox" checked><dt>들어봤나? 터보C++</dt>
              <dd>두꺼운 책 배게 삼아서.. 잠을 청하기<span class="date">..대학시절..</span></dd>

              <dt></dt>
              <dd><span class="date"></span></dd>
            </dl>
            <!-- CHILD --><div class="back">
            <p>
            당신은 개발자였던 적이 없었다...
            </p>
            <br>
            <br>
            <br>
            <img src="../../static/img/tuzki/01_tossing_poop.gif" style="width: 100px; position:relative; left:calc(50%-250px);">
                          </div>
</div>

<div class="card">
            <dl class="front">
                <input type="checkbox" checked><dt>HTML, CSS 입문하기</dt>
                <dd>HTML만이 이 시대 진정! 노가다란 것을 뼈저리게 절감!<span class="date">2000.10</span></dd>

                <input type="checkbox" checked><dt>CGI, Perl Script 짓눌려 보기</dt>
                <dd>이 외계어를 정복하고 말리라!, 정복 당함!..<span class="date">2001.05</span></dd>

                <input type="checkbox" checked><dt>Java Script 맛 만보기</dt>
                <dd>정말 맛 만 봤다.. 딱 필요한 곳에, 겨우 쓸 만큼만..<span class="date">2000.10</span></dd>

                <input type="checkbox" checked><dt>PHP 3.0 시대! - 블로그 도전!</dt>
                <dd>PHP에 반하고 DB에 눈을 뜨다~..APM을 리스팩트 하다!<span class="date">2002.10</span></dd>
                <dd>(A)아파치,(P)피에치피,(M)마이에스큐엘.. <span class="date">2002.10</span></dd>

                <input type="checkbox" checked><dt>포탈 블로그 만들기</dt>
                <dd>언론에 떠서 트래픽 대폭발!.. 갑자기 웹호스팅비 50만원/월 나와서 계폭!<span class="date">2002.12</span></dd>
                <dd>갑자기 사이트가 사라져서 놀랐을 회원을 뒤로하고, 야반도주 감행</dd>
                <dd>아직도 구글을 검색하면 그때의 잔재가 나온다... ㅠㅜ~;;</dd>
            </dl>
            <!-- CHILD ----><div class="back">
                                <p>
                                당신은 개발자였던 적이 없었다...
                                <img src="../../static/img/0_angry_tig.jpg"  style="width: 250px; position:relative; left:calc(50%-250px);">
                                <br> ANGRY TIG : 정신을 차려라! 닝겐~!!!
                                <a href=""> 웹디벨로퍼? 퍽!</a><br>
                                </p>
                            </div>
</div>

      <div class="card">
          <!-- WEB 2.0 -->
          <dl class="front">
              <input type="checkbox" checked> <dt>PYTHON 성공적으로 입문하기</dt>
              <dd>HELLO WORLD 그이상, 의미 있는 코딩 완성하기 <span class="date">2007.07.</span> </dd>

              <input type="checkbox" checked> <dt>PYTHON으로 게임 만들기</dt>
              <dd>Tkinter, Pygame으로 중급 게임 만들기<span class="date">2007.07.</span> </dd>

              <input type="checkbox" checked> <dt>DJANGO 프래임워크로 앱 블로그 만들기</dt>
              <dd>쟝고로 완벽한 블로그 하나 완성하기.<span class="date">2012.01.</span> </dd>

              <input type="checkbox"><dt>ANACONDA 로 DB분석 코딩하기</dt>
              <dd>데이터 베이스를 떡 주무르는 코딩 만들자!<span class="date"></span> </dd>

              <input type="checkbox"><dt>PYTHON으로 프로젝트 외주 주기!</dt>
              <dd>PYTHON을 개발툴로 업무에 필요한 용역 외주개발 하기!<span class="date"></span> </dd>
              <br>
              <dd>
                <img src="../../static/img/python_antigravity.png" style="width: 350px;">
                <br>... If you type 'import antigravity'.. on your console,
                <br> you can see this cartoon! [ Easter Egg ]
              </dd>
          </dl>
          <!-- CHILD ----><div class="back">
                              <p>프로그램으로 논문을 쓴다면....<br>
                                  <img src="../../static/img/comic_python.jpg"  style="width: 500px; position:relative; left:calc(50%-250px);">
                                  <br>[Python: 뭐야? 이건 표절이잖아! Import Essay란 말을 쓰면 안돼!!]
                                  <br>[JAVA: 뭐야?! 2장 째 읽어봐도 난 도대체 뭔소린지 알아먹질 못하겠어~!!!]
                                  <br> <a href="https://kr.pinterest.com/pin/489696159465763406/">
                                  다른언어의 논문 보기</a>
                              </p>
                          </div>
</div>
            <div class="card">
                <!-- WEB 2.0 -->
                <dl class="front">
                    <input type="checkbox"> <dt>Embedded coding</dt>
                    <dd>임베디드 코딩을 마스터 하기 / 적어도 자유자재로 구사하고 새로운 기기도 만들고...<span class="date"></span> </dd>

                    <input type="checkbox" checked> <dt>Arduino 입문프로젝트</dt>
                    <dd>아두이노 Uno3 뭔가 성공적인 작동기계 만들어내기<span class="date">2017.07.</span> </dd>

                    <input type="checkbox" checked> <dt>라즈베리파이3 입문프로젝트</dt>
                    <dd>리눅스 기반 라즈베리파이 즐기기<span class="date">2017.01.</span> </dd>

                    <input type="checkbox"> <dt>라즈베리파이3 채팅서버 만들기</dt>
                    <dd>라즈베리와 텔레그램 채팅서버로 홈,가전기기를 제어하는 어플리케이션 만들기
                    텔레그램API를 사용한 원격제어, 아들을 홈캠으로 감시하고 PC를 꺼버리는 장치 제작<span class="date"></span> </dd>

                    <input type="checkbox"><dt>임베디드 코딩 및 대박장치</dt>
                    <dd>뭐가 있을까?.. 있기는 한걸까?<span class="date">N/A</span> </dd>
                </dl>
                <!-- CHILD ----><div class="back">
                                    <p>
                                        당신은 개발자였던 적이 없었다.. 그래도
                                        <a href="https://onito.pythonanywhere.com" target="new">망작을 보고 싶다면..</a>
                                        <br>어쨌든 비스무리한것 <a onclick="showMovie('https://onito.pythonanywhere.com//static/imgs/arduino/20170516_03mov.mp4')">동영상</a>으로 남김...
                                        <br><img src="../../static/img/rasp3_robot_arm.jpg" style="width: 350px;"><a href="https://www.youtube.com/embed/kFj8qdGfhl0">라즈베리3 로봇암..</a>
                                    		<br>[fig.01 - 4 Joints Robot Arm controlled by RaspberryPi3]
                                    </p>
                                </div>
            </div>

        </section>

        <!--  ████████      ██      ██████████████      ██            ██        ████████    ██  -->
        <!--          ██    ██      ██          ██      ██            ██      ██            ██  -->
        <!--          ██    ██      ██          ██      ██            ██      ██            ██  -->
        <!--          ██    ██      ██          ██      ██            ██      ██            ██  -->
        <!--  ████████████████      ██████████████      ██            ██      ██████████    ██  -->
        <!--          ██    ██                          ██            ██      ██            ██  -->
        <!--        ██      ██    ██████████████████    ██            ██      ██            ██  -->
        <!--      ██        ██        ██      ██          ██████████  ██      ██            ██  -->
        <!--  ████          ██        ██      ██                      ██        ██████████  ██  -->
        <!--                ██        ██      ██                      ██                    ██  -->

        <h3 id="커뮤니티"><i class="material-icons">thumb_up</i><span>커뮤니티</span></h3>
        <section class="sub">


        <div class="card">

            <dl class="front" id="blog">
                <input type="checkbox" checked> <dt>트위터 팔로워 수집</dt>
                <dd>1만 팔로워 달성!!<span class="date">2012.10</span> </dd>

                <input type="checkbox" checked> <dt>페이스북 팔로워 수집</dt>
                <dd>소셜 공유 10,000 회.<span class="date"></span> </dd>

                <input type="checkbox"> <dt>힘을내요~ 슈퍼빠월..블로거</dt>
                <dd>소셜 공유 100,000 회.<span class="date"></span> </dd>

                <input type="checkbox"> <dt>인스타그램 셀럽!</dt>
                <dd>소셜 공유 100,000 회.<span class="date"></span> </dd>

                <input type="checkbox"> <dt>텀블러에 도전!</dt>
                <dd>텀블러로 첫번째 사진공유<span class="date"></span> </dd>

                <input type="checkbox"> <dt>스냅챗에서 도전</dt>
                <dd>첫번째 레인보우 퓨킹, 공유!<span class="date"></span> </dd>
            </dl>
            <!-- CHILD --><div class="back">
                            <p>
                              진시황의 팔로워 병마용갱 토용병<br>
                              <img src="../../static/img/clay_soldiers.jpeg" style="width: 400px; position:relative; left:calc(50%-50px);">
                            </p>
                          </div>
        </div>

        </section>
        <!--  ████████████  ██      ████████████  ██    -->
        <!--      ██    ██  ██          ██        ██    -->
        <!--      ██    ██  ██          ████      ████  -->
        <!--      ██  ████  ██        ██    ██    ██    -->
        <!--      ██    ██  ██      ██        ██  ██    -->
        <!--      ██    ██  ██                          -->
        <!--    ██  ██  ██  ██        ████████████      -->
        <!--    ██  ██  ██  ██                    ██    -->
        <!--  ██      ████  ██                    ██    -->
        <!--            ██  ██                    ██    -->

        <h3 id="제작"><i class="material-icons">build</i><span>제작</span></h3>
        <section class="sub">


        <div class="card">
            <!-- 오픈소스 라이선스 -->
            <dl class="front" id="오픈소스_라이선스">
                <input type="checkbox"> <dt>첫번째 오픈소스 라이선스</dt>
                <dd>소스코드를 공개 후, 다른 사람이 사용하는 것 확인할 것... 감사의 메시지를 받을것!<span class="date">2017.05.06.</span> </dd>
            </dl>
            <div class="back">
                <p>
                  .. 그런 일은 일어나지 않았다..<br>
                  <img src="../../static/img/tuzki/01_sleep_walking.gif" style="width: 80px;">
                </p>
            </div>
        </div>


          <div class="card">
              <!-- 뭔가 일이 진행 되어 가는 느낌 -->
              <dl class="front" id="뭔가_일이_진행_되어_가는_느낌">
                  <input type="checkbox"> <dt>뭔가 일이 진행 되어 가는 느낌</dt>
                  <dd>뒷면 사진을 참고하여 멋지게 벽을 꾸며보자.... Yeeeeesssss..!<span class="date"></span>
                  <img src="../../static/img/tuzki/01_yeeesss.gif" style="width: 50px; padding: 0 0 0px 90px;"></dd>

              </dl>
              <!-- CHILD -->    <div class="back">
                                  <img src="../../static/img/meow_punch.jpg" style="width:300px;">
                                  <dd>...또 너냐?? 정신을 차려! 짜쉬야~!!!</dd>
                                </div>
          </div>

    </section>
</section>


<!--  ████████      ██      ████████      ██    -->
<!--          ██    ██              ██    ██    -->
<!--          ██    ██              ██    ██    -->
<!--        ██  ██████            ██      ████  -->
<!--      ██        ██          ██        ██    -->
<!--  ████          ██      ████          ██    -->
<!--                ██          ██████████      -->
<!--    ██                    ██          ██    -->
<!--    ██                    ██          ██    -->
<!--      ████████████          ██████████      -->

<h2 id="health">건강</h2>
<section class="sup">


        <!--      ██████████            ██        ██              ██          -->
        <!--    ██          ██          ██        ██              ██          -->
        <!--    ██          ██          ██        ██            ██  ██        -->
        <!--    ██          ██        ██  ██      ████        ██      ██      -->
        <!--      ██████████          ██    ██    ██      ████          ████  -->
        <!--                        ██        ██  ██              ██          -->
        <!--  ██████████████████                  ██              ██          -->
        <!--      ██      ██          ██                          ██          -->
        <!--      ██      ██          ██                  ██████████████████  -->
        <!--      ██      ██            ████████████                          -->

        <h3 id="running"><i class="material-icons">directions_bike</i><span>야외운동</span></h3>
        <section class="sub">

            <dl>
                <!-- 호모 하빌리스 -->
                <input type="checkbox"> <dt>호모 하빌리스... 탑승하라! 닝겐</dt>
                <dd>기구가 필요한 운동 배우기.
                    <ul>
                        <li><input type="checkbox" checked><dt>스노우보드 매쏘드연기</dt><span class="date">2000.12</span> </li>
                        <li><input type="checkbox" checked><dt>윈드서핑.. 잠실에서</dt><span class="date">2011.06</span> </li>
                        <li><input type="checkbox"><dt>롱보드 댄싱~</dt><span class="date"></span> </li>
                        <li><input type="checkbox" checked><dt>MTB.. 산악을 지배하는자!</dt><span class="date">2004.05</span> </li>
                        <li><input type="checkbox"><dt>더트바이크..하늘을 날아~</dt><span class="date">2011.06</span> </li>
                        <li><input type="checkbox"><dt>설핑USA~ 파도를 넘어서..</dt><span class="date"></span> </li>
                    </ul>
                </dd>
            </dl>
            <div class="card">
                <!-- 무면허 라이더 -->
                <dl class="front">
                  <input type="checkbox"> <dt>Beyond the infinity!</dt>
                  <dd>인간의 욕심은 끝이 없고, 같은 실수를 반복한다.</dd>

                  <input type="checkbox" checked><dt>하프마라톤 완주하기 21.09km</dt>
                  <dd>3시간만에 완주, 단 한번도 안 멈추고 달렸다는데.. 만족함..<span class="date">2015.10</span></dd>

                  <input type="checkbox"><dt>풀코스 마라톤 완주하기 42.195km</dt>
                  <dd>서브쓰리를 목표하지는 않습니다. 하프 써브쓰리<span class="date"></span></dd>

                  <input type="checkbox" failed><dt>자전거로 동해안가기 200km 주행</dt>
                  <dd>밤새워 달려서 보는 동해안 일출... <span class="date"></span></dd>

                  <input type="checkbox"><dt>오토바이로 부산 찍고오기</dt>
                  <dd>전국일주는 어렵지만 부산은 찍고 올수 있습니다.<span class="date"></span></dd>
                </dl>
                <div class="back">
                  <p>그러나.. 이미 허벅지 근육은 퇴행이 이루어진 상태였다.</p>
                  <p>그러나.. 이미 처자식이 딸린 영혼....</p>
                </div>
            </div>

        </section>

        <!--    ██████████████          ██        ██              ██          -->
        <!--    ██          ██          ██        ██              ██          -->
        <!--    ██          ██          ██        ██            ██  ██        -->
        <!--    ██          ██        ██  ██      ████        ██      ██      -->
        <!--    ██████████████        ██    ██    ██      ████          ████  -->
        <!--                        ██        ██  ██              ██          -->
        <!--  ██████████████████                  ██              ██          -->
        <!--          ██              ██                          ██          -->
        <!--          ██              ██                  ██████████████████  -->
        <!--          ██                ████████████                          -->

        <h3 id="fitness"><i class="material-icons">fitness_center</i><span>실내운동</span></h3>
        <section class="sub">

            <dl>
                <!-- 王 -->
                <input type="checkbox" failed> <dt>초콜릿으로 빚는 王</dt>
                <dd>The truth is...<span class="date"></span></dd>
                <dd>Rock hard abbs</dd>
                <dd> .. </dd>
                <dd>소프트 밀크초콜릿, 뭉쳐놓은 녹은 덩어리</dd>
                <dd>아랫쪽으로 녹아 퍼지고 있음.. ㅠㅜ;</dd>
            </dl>

            <div class="card">
                <!-- 헌혈증 수집가 -->
                <dl class="front" id="헌혈증_수집가">
                    <input type="checkbox" checked> <dt>CRUSH DIET, -20kg 감량</dt>
                    <dd>못볼 꼴 많이 보고, 드디어....<span class="date">2015.08.08.</span> </dd>

                    <input type="checkbox" checked> <dt>빡센 식단조절..</dt>
                    <dd>어질 어질..<span class="date">2015.06.23.</span> </dd>

                    <input type="checkbox" checked> <dt>요요는 장난감이죠..</dt>
                    <dd>3년간 유지..<span class="date"></span> </dd>

                    <input type="checkbox"> <dt>진짜.. 장난감이니??</dt>
                    <dd>5년간 유지하기...<span class="date"></span> </dd>

                    <input type="checkbox"> <dt>I'm a Bird man</dt>
                    <dd>10년간 유지하기... <span class="date"></span> </dd>
                    <dd>가... 가벼워... 등에서 날개가.. <span class="date"></span> </dd>
                    <dd>.. <span class="date"></span> </dd>
                    <dd>음? 저승사자님?<span class="date"></span> </dd>
                </dl>
                <div class="back">
                    <img src="../../static/img/0_crushed_pear.jpg" style="width: 300px; " />
                </div>
            </div>

        </section>
</section>



<!--       ██████             ██        ██  -->
<!--                            ██        ██  -->
<!--  ██████████████████        ████      ██  -->
<!--     ██      ██          ██    ██    ██  -->
<!--        ██████          ██        ██  ██  -->
<!--                                          -->
<!--  ██████████████████      ████████████    -->
<!--      ██      ██                      ██  -->
<!--      ██      ██                      ██  -->
<!--      ██      ██                      ██  -->

<h2 id="휴식">휴식</h2>
<section class="sup">

        <!--    ██████      ██      ██████    ██  ██  -->
        <!--  ██      ██    ██                ██  ██  -->
        <!--  ██      ████████    ██████████  ██  ██  -->
        <!--  ██      ██    ██     ██   ██    ██████  -->
        <!--  ██      ██    ██    ██      ██  ██  ██  -->
        <!--  ██      ██    ██      ██████    ██  ██  -->
        <!--  ██      ████████                        -->
        <!--  ██      ██    ██          ██████████    -->
        <!--    ██████      ██        ██          ██  -->
        <!--                ██          ██████████    -->

        <h3 id="여행"><i class="material-icons">nature_people</i><span>TRAVEL</span></h3>
        <section class="sub">
            <div class="card">

     <!-- 휴식과여행 -->
                <div class="front">
                    <dl>
                        <input type="checkbox">
                        <dt>국내 해안선 일주여행</dt>
                        <dd>3면이 바다! 정복하자. 해안선 일주<span class="date"></span></dd>
                        <dd>남해안 일주여행(여름휴가)<span class="date">2015.7/25~8/5</span></dd>
                    </dl>
                </div>
                <!---------- CHILD ----><div class="back">
                                            <h4>뭘 들춰보시죠?</h4>
                                            <p>나중에 추가작성..</p>
                                        </div>
            </div>


            <div class="card">
                <!-- 다음 국가 여행 -->
                <dl class="front">
                    <input type="checkbox"> <dt>CONCOUUUUR! THE Travel World.</dt>
                    <dd>다음 국가 여행.<span class="date"></span>
                        <ul>
                            <li><input type="checkbox" checked> <dt>미국</dt><dd>:뉴욕,시카고,LA</dd></li>
                            <li><input type="checkbox" checked> <dt>영국</dt><dd>:런던 </dd></li>
                            <li><input type="checkbox" checked> <dt>프랑스</dt><dd>:파리 </dd></li>
                            <li><input type="checkbox" checked> <dt>독일</dt><dd>:베를린, 퀼른, 뮌헨 </dd></li>
                            <li><input type="checkbox" checked> <dt>그리스</dt><dd>:아테네</dd></li>
                            <li><input type="checkbox" checked> <dt>이탈리아</dt><dd>:로마,피렌체,베니스 </dd></li>
                            <li><input type="checkbox" checked> <dt>일본</dt><dd>:북해도,사국,복강 외</dd></li>
                            <li><input type="checkbox" checked> <dt>중국</dt><dd>:청도,장강</dd> </li>
                            <li><input type="checkbox"> <dt>호주</dt><dd> </dd> </li>
                            <li><input type="checkbox"> <dt>러시아</dt><dd> </dd> </li>
                            <li><input type="checkbox"> <dt>뉴질랜드</dt><dd> </dd> </li>
                            <li><input type="checkbox"> <dt>캐나다</dt><dd> </dd> </li>
                            <li><input type="checkbox"> <dt>브라질</dt><dd> </dd> </li>
                            <li><input type="checkbox"> <dt>아르헨티나</dt><dd> </dd> </li>
                        </ul>
                    </dd>
                </dl>
                <!---------- CHILD ----><div class="back">
                                            <p>이젠 힘들어서 슬슬.. 여행도 귀찮아지고...</p>
                                            <p>나게에도 그런 날이 있었던가?..</p>
                                            <p>...</p>
                                            <p>I was 배낭여행족..., once apon a time.</p>
                                        </div>
            </div>


        </section>

        <!--      ██████████            ██        ██  -->
        <!--    ██          ██          ██        ██  -->
        <!--    ██          ██          ████      ██  -->
        <!--      ██████████          ██    ██    ██  -->
        <!--                        ██        ██  ██  -->
        <!--  ██████████████████                      -->
        <!--                          ████████████    -->
        <!--    ██████████████                    ██  -->
        <!--    ██          ██                    ██  -->
        <!--    ██████████████                    ██  -->

        <h3 id="음식"><i class="material-icons">restaurant</i><span>음식</span></h3>
        <section class="sub">

          <dl class="front">
            <!-- 치느님 영접 -->
            <input type="checkbox"> <dt>치킨은 항상 옳아요~;; 치렐루야</dt>
            <dd>전국 각지의 이름난 통닭집 10군데 이상 순례하기.<span class="date"></span>
              <ul>
                <li><input type="checkbox"> <dt>부여 시골통닭</dt></li>
                <li><input type="checkbox"> <dt>광주 양동통닭</dt></li>
                <li><input type="checkbox"> <dt>제주 백양닭집</dt></li>
                <li><input type="checkbox"> <dt>부산 거인통닭</dt></li>
                <li><input type="checkbox"> <dt>대구 뉴욕통닭</dt></li>
                <li><input type="checkbox"> <dt>순천 풍미통닭</dt></li>
                <li><input type="checkbox"> <dt>조치원 신흥파닭</dt></li>
                <li><input type="checkbox"> <dt>의성 삼미마늘닭</dt></li>
                <li><input type="checkbox"> <dt>원주 진미통닭</dt></li>
              </ul>
            </dd>
          </dl>


          <dl class="front">
            <input type="checkbox"> <dt>닭강정 제 5원소</dt>
            <dd>전국 각지의 이름난 닭강정집 5군데 체험하기<span class="date"></span>
              <ul>
                <li><input type="checkbox" checked> <dt>인천중구 신포닭강정</dt></li>
                <li><input type="checkbox" checked> <dt>인천남동 황해닭강정</dt></li>
                <li><input type="checkbox" checked> <dt>인천북구 동원치킨</dt></li>
                <li><input type="checkbox"> <dt>전북익산 예스닭강정</dt></li>
                <li><input type="checkbox"> <dt>강원영월 일미강정식당</dt></li>
                <li><input type="checkbox"> <dt>강원속초 만석닭강정/dt></li>
              </ul>
            </dd>
          </dl>


          <dl class="front">
            <input type="checkbox"> <dt>빵순이와 빵돌이는</dt>
            <dd>전국 각지의 이름난 빵집 5군데 경건한 마음으로 순례~<span class="date"></span>
              <ul>
                <li><input type="checkbox" checked> <dt>대전 성심당</dt></li>
                <li><input type="checkbox" checked> <dt>안동 맘모스제과</dt></li>
                <li><input type="checkbox" checked> <dt>목포 코롬방</dt></li>
                <li><input type="checkbox" checked> <dt>전주 풍년제과</dt></li>
                <li><input type="checkbox" checked> <dt>인천 안스베이커리?</dt></li>
                <li><input type="checkbox"> <dt>서울 나폴레옹제과</dt></li>
                <li><input type="checkbox"> <dt>군산 이성당</dt></li>
                <li><input type="checkbox"> <dt>광주 궁전제과</dt></li>
              </ul>
            </dd>
          </dl>

        </section>

        <!--  ████████      ██        ████████    ██    -->
        <!--          ██    ██      ██            ██    -->
        <!--          ██    ██      ██            ██    -->
        <!--          ██    ██      ██            ██    -->
        <!--          ██    ██      ██████████    ████  -->
        <!--        ██      ██      ██            ██    -->
        <!--        ██      ██      ██            ██    -->
        <!--      ██        ██      ██            ██    -->
        <!--  ████          ██        ██████████  ██    -->
        <!--                ██                    ██    -->

        <h3 id="휴식_기타"><i class="material-icons">local_play</i><span>기타</span></h3>
        <section class="sub">
<div class="card">
            <dl class="front" id="추락하는_것은_날개가_없다.">
                <!-- 추락하는 것은 날개가 없다? -->
                <input type="checkbox"> <dt>추락하는 것은 날개가 없다?!</dt>
                <dd><img src="../../static/img/bunji.jpg" style="width: 350px; padding: 10 0 5 0;"></dd>
                <dd>날려 하지 않는 자, 추락 할 일도 없다만....<span class="date"></span></dd>
                <dd>그래도, 죽지 않고 65미터 떨어져 보기...<span class="date"></span></dd>
                <br>
              </dl>
              <!-- CHILD --><div class="back">
                              <p>너 죽고....<span class="date"></span></p>
                              <p>... 너 한번 더 죽자...<span class="date"></span></p>
                              <img src="../../static/img/meow_punch.jpg" style="width: 350px; padding: 0 0 5px 30px;">
                              <dd>......아오~!!.. 아주 그냥, 겨 올라요~!! </dd>
                            </div>


</div>



        </section>
</section>



<!--  ██    ██  ██  ██     ██████████     -->
<!--  ██    ██  ██  ██   ██          ██   -->
<!--  ██    ██  ██  ██   ██          ██   -->
<!--  ████████  ██  ██     ██████████     -->
<!--  ██    ██  ██████                    -->
<!--  ██    ██  ██  ██ ██████████████████ -->
<!--  ██    ██  ██  ██         ██         -->
<!--  ██    ██  ██  ██   ██████████████   -->
<!--    ████    ██  ██   ██          ██   -->
<!--            ██  ██   ██████████████   -->

<h2 id="learn">배움</h2>
<section class="sup">

        <!--  ████████████  ██      ████████      ██  -->
        <!--      ██        ██              ████████  -->
        <!--      ██        ██              ██    ██  -->
        <!--      ██        ██            ██      ██  -->
        <!--    ██  ██      ████        ██    ██████  -->
        <!--    ██  ██      ██      ████          ██  -->
        <!--    ██    ██    ██                        -->
        <!--  ██      ██    ██        ████████████    -->
        <!--  ██        ██  ██                    ██  -->
        <!--                ██                    ██  -->

        <h3 id="license"><i class="material-icons">school</i><span>자격증</span></h3>
        <section class="sub">

            <dl title = "그란투리스모3 라이센스! 10년 전에 땄다.. ">
                <!-- 사무직 특성화 -->
                <input type="checkbox" checked> <dt>콘트롤 아티스트 / I'm a Newtype (인증!)</dt>
                <dd>내 맘대로 움직일 수 있는 것 돌..  마음만은 써킷레이서 <span class="date"></span>
                    <ul>
                        <li><input type="checkbox" checked><dt>1종 보통 (소형 트럭은...)</dt><span class="date">2012.</span> </li>
                        <li><input type="checkbox" checked><dt>1종 대형 (5톤 덤프 덤벼라..)</dt><span class="date">2012.</span> </li>
                        <li><input type="checkbox"><dt>특장.트레일러 (옵티머스!)</dt><span class="date">2011.</span> </li>
                        <li><input type="checkbox" checked><dt>GT 라이센스.1</dt><span class="date">2011.</span> </li>
                        <li><input type="checkbox" checked><dt>GT 라이센스.3</dt><span class="date">2013.</span> </li>
                        <li><input type="checkbox"><dt>인제써킷 라이센스</dt><span class="date"></span> </li>
                        <li><input type="checkbox"><dt>소형 중장비면허</dt><span class="date"></span> </li>
                        <li><input type="checkbox"><dt>소형 선박면허</dt><span class="date"></span> </li>
                        <li><input type="checkbox"><dt>에바에 탑승하라 신지!</dt><span class="date"></span> </li>
                        <li><input type="checkbox"><dt>나선은하 매치기!</dt><span class="date"></span> </li>
                    </ul>
                </dd>
            </dl>


        </section>

        <!--    ██████     ██      ██████     ██  -->
        <!--  ██      ██   ██    ██      ██   ██  -->
        <!--  ██      ██ ████    ██      ██   ██  -->
        <!--  ██      ██   ██    ██      ██ ████  -->
        <!--  ██      ██   ██    ██      ██   ██  -->
        <!--    ██████     ██    ██      ██   ██  -->
        <!--                     ██      ██   ██  -->
        <!--     ██                ██████     ██  -->
        <!--     ████████████                 ██  -->

        <h3 id="언어"><i class="material-icons">g_translate</i><span>언어분야</span></h3>
        <section class="sub">

            <dl>
                <!-- 2개국어 구사. -->
                <input type="checkbox" checked> <dt>된장남</dt>
                <dd>한국어 자유자재 구사/ 매트로서울 언어, 사교언어 구사.<span class="date"></span> </dd>
                <dd>어휘구사가 자유롭고, 누구나 현지인이라고 인정하는 수준.</dd>
                <input type="checkbox" checked> <dt>리얼 청국장남</dt>
                <dd>전라도 매트로광주어 / 경상도 포항어 2개 지역언어 fluent speaker<span class="date"></span> </dd>
                <dd>언어소통 및 전화 회화에 전혀 불편 함이 없음. / 비속어 가능!</dd>

                <input type="checkbox" checked> <dt>여... 영어는 요..?</dt>
                <dd>외국인 앞에서 쫄지않기 / 눈빛 공격 및 제압 가능</dd>
                <dd>각하! 영어 좀 대국적으로 하십시요.. 탕탕탕..<span class="date"></span> </dd>

                <input type="checkbox"> <dt>영어, 전화로 갑니다..</dt>
                <dd>근무시간에 자리앉아 다리꼬고 큰소리로 대화하기..<span class="date"></span> </dd>
                <dd>아직은 눈치보고 들을까봐 소심하게.... (시도하는 중..다리 올리기 ㅠㅜ~;;)</dd>
                <dd>..ㅅ ...사..실은 새가슴... ㅡ,ㅡ;;; </dd>

                <input type="checkbox" failed> <dt>일본(어) 정복</dt>
                <dd>생각하는 바, 50%이상 설득 시키기<span class="date"></span> </dd>
                <dd>일본어 전화회화 6개월 수강, 사토상 고멘네, 와따시와 폭망! / 일본어 JPTS 2등급!! ㅠ,ㅜ~</dd>
            </dl>

        </section>
</section>



<!--  ████████████████      -->
<!--  ██                    -->
<!--  ██                    -->
<!--  ████████████████      -->
<!--                        -->
<!--         ██             -->
<!-- ███████████████████    -->
<!--                        -->
<!--  ██                    -->
<!--    ███████████████     -->

<h2 id="money">돈</h2>
<section class="sup">

        <!--                                          -->
        <!--                                          -->
        <!--                                          -->
        <!--           소유가 ...무소유                 -->
        <!--                                          -->
        <!--                                          -->
        <!--                                          -->
        <!--                                          -->
        <!--                                          -->
        <!--                                          -->

        <h3 id="소유"><i class="material-icons">shopping_cart</i><span>소유... 가 무소유!</span></h3>
        <section class="sub">

            <dl>
                <!-- 세워만 놔도 멋지잖아? -->
                <input type="checkbox"> <dt>세워만 놔도 멋지잖아?</dt>
                <dd>별 쓸모 없으면서도 바라보면 흐믓해지는 물건 소유.
                    <ul>
                        <li><input type="checkbox" checked> <dt>기타</dt> <span class="date">2014.</span></li>
                        <li><input type="checkbox" checked> <dt>자전거</dt> <span class="date">2011.</span></li>
                        <li><input type="checkbox"> <dt>천체 망원경</dt> <span class="date">..아들꺼..</span></li>
                        <li><input type="checkbox"> <dt>사과 노트북 프로</dt> <span class="date">..다음생에서..</span></li>
                    </ul> <span class="date"></span>
                </dd>
            </dl>

        </section>
        <!--                                          -->
        <!--                                          -->
        <!--                                          -->
        <!--                                          -->
        <!--              제2의 인생설계               -->
        <!--                                          -->
        <!--                                          -->
        <!--                                          -->
        <!--                                          -->
        <!--                                          -->

        <h3 id="hob"><i class="material-icons">work</i><span>제2의 인생설계</span></h3>
        <section class="sub">

            <dl>
                <!-- 바늘 구멍 -->
                <input type="checkbox" checked> <dt>바늘 구멍.. 사실은 구멍없는 바늘..</dt>
                <dd>준비없이 맞이 하는 인생의 깊은풍미... 지금 이 순간~<span class="date">2015.</span></dd>
                <dd>호모원헌드레드.. 100세 시대, 시작부터 벽에 똥칠..</dd>

                    <!-- 2개국어 구사. -->
                <input type="checkbox" checked> <dt>파산 한 자본가</dt>
                <dd>얼마 남지 않는 자본, 탕진잼..<span class="date"></span> </dd>

                <input type="checkbox" checked> <dt>주식계좌 없는 펀드매니저</dt>
                <dd>주식으로 망하기가 제일 쉬웠어요~<span class="date"></span> </dd>

                <input type="checkbox"> <dt><b>아파트 경비실에서 졸고 있는 나?</b></dt>
                <dd>차라리 503호가 낫겠네..<span class="date"></span> </dd>

                <input type="checkbox"> <dt><b>성공한 귀농인? 마늘재배 하다, 내 밭에 돈 다발이?</b></dt>
                <dd>아... 젭라 나에게도 그런 날이..<span class="date"></span> </dd>

                <input type="checkbox"> <dt><b>벤츠타는 어업인? .. 참치를 멸치크기로 종 개량 성공!</b></dt>
                <dd>생각해보니... 그건... 그냥 멸치!!<span class="date"></span> </dd>

            </dl>

        </section>


</section>



<footer>
    <p class="copyright">©
        <script>document.write(new Date().getFullYear());</script>
        ox3nito w.♥ git  :: in the World!<br>
    powered by JinH's GitRepo - https://github.com/Admin0/bucket</p>
</footer>



<section id="contextmenu">
    <div id="for_copy" data-clipboard-target="#for_copy_output">
        <i class="material-icons">content_copy</i>복사하기
    </div>
    <textarea class="output" id="for_copy_output"></textarea>
</section>


<!-- context-menu close -->
<div id="browser_alert">
    <div>
        <p style="font-size:24px; font-weight:bold;">!!구형 브라우저 감지!!</p>
        <p>넘나 멋진 버킷리스트를 감상하기 위해서는 아래의 최신 브라우저로 접속하세요.</p>
        <ul>
            <li><a href="https://www.google.com/chrome" target="_blank">Chrome - by Google</a></li>
            <li><a href="https://www.mozilla.org/ko/firefox/new/" target="_blank">Firefox - by Mozilla</a></li>
            <!-- <li><a href="http://windows.microsoft.com/ko-kr/internet-explorer/ie-11-worldwide-languages" target="_blank">Internet Explorer 11 - by Microsoft</a></li> -->
        </ul>
        <p><a onclick="$('#browser_alert').remove()">닫기</a></p>
    </div>
</div>


</body>
</html>
